 .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 4rem;
 }

.cardtext:hover{
    cursor: pointer;
    background-color: rgb(72, 72, 235);
    color: white;
    visibility: visible;
    opacity: 0.5;
}
.cards:hover{
    cursor: pointer;
}
.toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(206, 203, 235);
    margin: 9rem 7rem;
    padding: 2rem;
    border-radius: 1rem;
    font-weight: 900;
}
.btns{
    margin-left: 0.5rem;
}


